<div class="container">
  <div class="row d-flex flex-column bd-highlight">
    <h5 class="col-4 text-center mt-5 bg-light">配送先編集</h5>
    <div class="text-left mt-5">
      <%= form_with model: @address, url: new_customers_address_path, local: true do |f| %>
      <div class="row">
        <p class="col-md-3">郵便番号(ハイフンなし)</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= f.text_field  :post_code, autofocus: true, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">住所</p>
        <div class="col-md-9">
          <%= f.text_field  :address, class: "border-color black rounded" %>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">宛名</p>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-2">
              <%= f.text_field  :name, class: "border-color black rounded" %>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <%= f.submit "変更内容を保存", class: "btn btn-success border rounded" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>