<div class="container">
  <div class="row d-flex flex-column bd-highlight">
    <h5 class="col-4 text-center mt-5 bg-light">新規会員登録</h5>
    <%= render "customers/shared/error_messages", resource: resource %>
    <div class="text-left mt-5">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row">
        <p class="col-md-3">名前</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= f.label "(姓)" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :last_name, autofocus: true, class: "border-color black rounded" %>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <%= f.label "(名)" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :first_name, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">フリガナ</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= f.label "(セイ)" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :last_name_kana, class: "border-color black rounded" %>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <%= f.label "(メイ)" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :first__name_kana, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">メールアドレス</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <%= f.email_field :email, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">郵便番号(ハイフンなし)</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <%= f.number_field :post_code, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">住所</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3 w-auto">
              <%= f.text_field :address, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">電話番号(ハイフンなし)</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <%= f.number_field :phone_number, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">パスワード(6文字以上)</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <%= f.password_field :password, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-3">パスワード(確認用)</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <%= f.password_field :password_confirmation, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                <%= f.submit "新規登録", class: "btn btn-success border rounded" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <h5 class="col-4 text-center bg-light">既に登録済みの方</h5>
     <div class="row">
      <div class="col-6 text-center">
       <%= render "customers/shared/links" %>
      </div>
     </div>
  </div>
</div>