<div class="container">
  <div class="mx-auto" style="width:90%; margin-top:20px;">
    <h4 style="margin:20px 0px 20px 40px;"><span class="pr-3 pl-3 bg-light">注文情報確認</span></h4>
    <div class= "d-flex">
      <div class="col-7">

        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th class="col-5">商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
            <td><%= cart_item.sweet.name %> </td>
            <td><%= (cart_item.sweet.price).to_s(:delimited) %></td>
            <td><%= cart_item.quantity %> </td>
            <td><%= (cart_item.sweet.price*cart_item.quantity).to_s(:delimited) %></td>
          <% end %>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="col-3 d-flex">
        <table class="table table-bordered">
          <tr>
            <th class="table-active">送料</th>
            <th>800</th>
          </tr>
          <tr>
            <th class="table-active">商品合計</th>
            <th><%= @total.to_s(:delimited) %></th>
          </tr>
          <tr>
            <th class="table-active">ご請求金額</th>
            <th><%= (@total + 800).to_s(:delimited) %></th>
          </tr>
        </table>
        </div>
    </div>

      <table class="table table-borderless">
        <tr>
          <th class="col-2">お支払い方法</th>
          <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td>
            <%="〒" + @order.post_code %><br>
            <%= @order.addresses %><br>
            <%= @order.name %>
          </td>
        </tr>
      </table>

        <%= form_with model: @order, url: customers_orders_path, local: true do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :addresses %>
          <%= f.hidden_field :total_payment, value: @total %>
          <%= f.hidden_field :payment_method %>
          <%= f.hidden_field :fee, value: 800 %>
          <%= f.hidden_field :status, value: "payment_confirmation" %>
      </div>

  </div>
      <div class="mt-5" style="text-align: center; padding: 3px; font-size: 18px;">
        <%= f.submit "注文を確定する", class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
</div>