
<% @cart_items.each do |cart_item| %>
  <%= cart_item.sweet.name %> 
  <%= (cart_item.sweet.price).to_s(:delimited) %>　<
  <%= cart_item.quantity %> 
  <%= (cart_item.sweet.price*cart_item.quantity).to_s(:delimited) %>
<% end %>
<p>ご請求金額</p>
<%= @total.to_s(:delimited) %> 
<p>お届け先</p>
<%= @order.addresses %>

<%= form_with model: @order, url: customers_orders_path, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_payment, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>

