<div class="container">
    <h4 class="shadow-none bg-light rounded ml-4 pl-4", style="margin:20px 20px;">注文情報確認</h4>
  <div class="mx-auto" style="width:80%; margin-top:20px;">
    <div class= "d-flex">
      <div class="col-7">

        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
            <td><%= cart_item.sweet.name %> </td>
            <td><%= (cart_item.sweet.price).to_s(:delimited) %></td>
            <td><%= cart_item.quantity %> </td>
            <td><%= (cart_item.sweet.price*cart_item.quantity).to_s(:delimited) %></td>
          <% end %>
            </tr>
          </tbody>
        </table>
      </div>
 


      <div class="col-3 d-flex">
        <table class="table table-bordered">
          <tr>
            <th class="table-active">送料</th>
            <th>800</th>
          </tr>
          <tr>
            <th class="table-active">商品合計</th>
            <th><%= @total %></th>
          </tr>
          <tr>
            <th class="table-active">ご請求金額</th>
            <th><%= @total + 800 %></th>
          </tr>
        </table>
        </div>
    </div>
  
      <div class>
          <div class="row mt-3">
          <strong class="red-border px-3 mr-3">お支払い方法</strong>
          <span class="brown-border px-3"><%= Order.payment_methods_i18n[@order.payment_method] %></span>
      </div>

      <div class="row mt-3">
        <strong class="red-border px-3 mr-3">お届け先</strong>
        <%= @order.post_code %><%= @order.addresses %><br>
        <%= @order.name %>

        <%= form_with model: @order, url: customers_orders_path, local: true do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :addresses %>
          <%= f.hidden_field :total_payment, value: @total %>
          <%= f.hidden_field :payment_method %>
          <%= f.hidden_field :fee, value: 800 %>
          <%= f.hidden_field :status, value: "payment_confirmation" %>
      </div>

  </div>
      <div class="mt-5" style="text-align: center">
        <%= f.submit "注文を確定する", class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
</div>