<div class="container my-5">
  <div class="row">
    <div class-"offset-1">
      <h4 class="shadow-none bg-light rounded ml-4 pl-4">注文履歴一覧</h2>
    </div>
  </div>

  <div class="row mt-5">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr class="red-border">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr class="brown-border">
              <td class="align-middle"><%= order.created_at.strftime("%Y-%m-%d") %></td>
              <td class="align-middle"><%= order.addresses %></td>
              <td class="align-middle">
                <% order.order_details.each do |f| %>
                <%= f.sweet.name %><br>
                <% end %>
              </td>

              <td class="align-middle"><%= order.total_payment %></td>

              <td class="align-middle"><%= Order.statuses_i18n[order.status] %></td>

              <td class="align-middle"><%=link_to "表示する", customers_order_path(order), class: "btn btn-sm btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
  </div>
</div>