<div class= "m-5">

    <div class= "container">

      <h4 class="shadow-none bg-light rounded ml-4 pl-4", style="margin-bottom:20px;">注文情報入力</h4>
    <%= form_with model: @order, url: confirm_customers_orders_path, local: true do |f| %>

      <h4><strong>支払い方法</strong></h4>
       <div class="col-md-9">

          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:credit] %><br>

          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:bank]%>
       </div>
      <h4><strong>お届け先</strong></h4>
      <div class="col-md-9">
        <%= f.radio_button :select_addresses, "1" %>
        <%= f.label :addresses_1, "ご自身の住所" %><br>
        <div class="ml-4">
          <%= current_customer.post_code %>
          <%= current_customer.address %>
          <%= current_customer.last_name %>
          <%= current_customer.first_name %>
        </div>

        <%= f.radio_button :select_addresses, "2" %>
        <%= f.label :addresses_2, "登録済み住所から選択" %><br>
        <div class="ml-4">
          <%= f.collection_select :address_id, Address.all, :id, :address, include_blank: "選択して下さい", class: "w-100" %><br>
        </div>
          <%= f.radio_button :select_addresses, "3" %>
          <%= f.label :addresses_3, "新しいお届け先" %>
        <div style = "width:100%;">
            <%= f.label :post_code, "郵便番号（ハイフンなし）", class: "col-md-4" %>
            <%= f.text_field :post_code, class: "col-md-4 border-color black rounded"%><br>
            <%= f.label :address, "住所", class: "col-md-4" %>
            <%= f.text_field :address, class: "col-md-7 border-color black rounded"%><br>
            <%= f.label :name, "宛名", class: "col-md-4" %>
            <%= f.text_field :name, class: "col-md-4 border-color black rounded" %><br>
        </div>
    </div>
      <div style="text-align:center;">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    <% end %>

</div>