<div class="container">
  <div class="row d-flex flex-column bd-highlight mb-3">
    <h5 class="col-3 text-center mt-5 bg-light"><%= @customer.name %>さんの会員詳細</h5>
    <div class="text-left mt-4">
      <div class="row">
        <p class="col-md-3">会員ID</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= @customer.id %>
            </div>
          </div>
        </div>
        <p class="col-md-3">氏名</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= @customer.last_name %>　<%= @customer.first_name %>
            </div>
          </div>
        </div>
        <p class="col-md-3">フリガナ</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= @customer.last_name_kana %>　<%= @customer.first__name_kana %>
            </div>
          </div>
        </div>
        <p class="col-md-3">郵便番号</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= @customer.post_code %>
            </div>
          </div>
        </div>
        <p class="col-md-3">住所</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= @customer.address %>
            </div>
          </div>
        </div>
        <p class="col-md-3">電話番号</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= @customer.phone_number %>
            </div>
          </div>
        </div>
        <p class="col-md-3">メールアドレス</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <%= @customer.email %>
            </div>
          </div>
        </div>
        <p class="col-md-3">会員ステータス</p>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <% if @customer.is_deleted == false %>
               <p class="text-success">有効</p>
              <% else %>
               <p class="text-secondary">退会</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-2">
                <%= f.submit "編集する", class: "btn btn-success border rounded" %>
              </div>
              <div class="col-md-5">
                <%= f.submit "注文履歴一覧を見る", class: "btn btn-info border rounded" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>