<div class="container">
  <div class="row d-flex flex-column bd-highlight mb-3">
    <h5 class="col-4 text-center mt-5 bg-light">ログイン</h5>
    <h6 class="col-6 text-center mt-5 bg-light">会員の方はこちらからログイン</h6>
    <div class="col-10 text-left mt-5">
      <%= form_with model: @admins, url:admin_session_path do |f| %>
      <div class="row">
        <p class="col-md-4">メールアドレス</p>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <%= f.email_field :email, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-md-4">パスワード</p>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <%= f.password_field :password, class: "border-color black rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                <%= f.submit "ログイン", class: "btn btn-info border rounded" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <h6 class="col-6 text-center mt-5 bg-light">会員登録がお済みでない方</h6>
    <div class="row">
      <div class="col-9 text-center mt-3 bg-light">
        <%= render "customers/shared/links" %>
      </div>
    </div>
  </div>
</div>