<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  
<!--<管理者側＞-->

  <body class="d-flex flex-column vh-100">
    <header class="border-bottom border-dark">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" style="margin-left:0;">
          <a class ="navbar-brand" href="/"><%= image_tag "naganocake.png", class: "logo" %></a>
          <ul class="navbar-nav ml-auto navbar-expand-lg">
          <% if admin_signed_in? %>
            <li class ="nav-item border rounded">
              <%= link_to "商品一覧", admins_sweets_path, class: 'nav-link text-dark' %>
            </li>
             <li class ="nav-item ml-4 border rounded">
              <%= link_to "会員一覧", admins_customers_path, class: 'nav-link text-dark' %>
            </li>
            <li class ="nav-item ml-4 border rounded">
              <%= link_to "注文履歴一覧", admins_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item ml-4 border rounded">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
          <% else %>
            <li class="nav-item ml-4 border rounded">
              <%= link_to "About", customers_about_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item ml-4 border rounded">
              <%= link_to "商品一覧", customers_sweets_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item ml-4 border rounded">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item ml-4 border rounded">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
            </li>       
          <% end %>
        </ul>
      </div>
     </nav>
    </header>
    
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="border-top border-dark"></footer>
  </body>
</html>
