<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--<会員側＞-->

    <header>
      <div class="container">
        <a class ="navbar-brand p-3" href="/"><%= image_tag("nagano-cake.png")%></a>
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class ="nav-item">マイページ</li>
            <li class ="nav-item">商品一覧</li>
            <li class ="nav-item">カート</li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
          <% else %>
            <li class="nav-item">About</li>
            <li class="nav-item">商品一覧</li>
            <li class="nav-item">新規登録</li>
            <li class="nav-item">ログイン</li>
          <% end %>
        </ul>
      </div>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
